table{
  height: 6vh;
  width: 80vw;
  color: black;
  border: 1px solid black;
}

th{
  height: 6vh;
  width: 80vw;
  background-color: aqua;
  border: 1px solid black;
}
tr, td{
  height: 6vh;
  width: 80vw;
  color: black;
  border: 1px solid black;
}
